<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>
    
	<!-- Query Loggers 쿼리 과정(파라미터까지) -->
	<appender name="console-dblog" class="org.apache.log4j.ConsoleAppender"> 
		<PatternLayout pattern="%d %5p %m%n" />
	</appender>

    <!-- Logger -->
    <logger name="com.kdExp.api" level="DEBUG" appender-ref="console" />
    <logger name="jdbc.sqlonly" level="INFO" appender-ref="console-infolog" />
    <logger name="jdbc.sqlonly" additivity="false">
    	<level value="DEBUG"/>
    	<appender-ref ref="console"/>
    </logger>
<!--     <logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog" /> -->

    <!-- Root Logger -->
    <root level="off">
        <appender-ref ref="console" />
    </root>
</configuration>